---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - About</title>
	</head>
	<body>
		<h1>Reinaldo Henrique</h1>
        <h2>Frontend Engineer</h2>
        <p>Hi, I'm Reinaldo Henrique from Brazil and I work as a Frontend Developer with Technologys like React, Next, Astro e more.</p>
        <a target="_blank" href="https://github.com/reinaldorm">Check out my github page</a>
        <a style="display: block;" href="/">First Page</a>
    </body>
</html>


<style>
    h1 {
        font: 400 1.5rem sans-serif;
    }

    h2 {
        font: 400 1rem sans-serif;
    }
</style>
