---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Blog"
---
<BaseLayout pageTitle={pageTitle}>
    <p>Where I put all my thought in words.</p>
    <ul>
        <li>
            <h3>Python</h3>
            <ul>
                <li>
                    <a href="/posts/strings">Strings</a>
                </li>
                <li>
                    <a href="/posts/dictionaries">Dictionaries</a>
                </li>
                <li>
                    <a href="/posts/lists">Lists</a>
                </li>
            </ul>
        </li>
    </ul>
</BaseLayout>
