---
import Link from "@components/generic/Link.astro";
---

<header class="flex justify-between items-center mb-16">
    <button class="cursor-pointer">
        <img src="/logo.svg" alt="personal-logo-a-weird-R">
    </button>
    <nav class="flex gap-x-4 items-center">
        <Link newTab href="/">LinkedIn</Link>
        <Link newTab href="https://www.github.com/reinaldorm">Github</Link>
    </nav>
</header>
