---
import Link from "@components/generic/Link.astro";
---

<header class="flex justify-between items-center mb-16">
    <button class="cursor-pointer">
        <img src="/profile-pic.png" alt="a-flat-blue-circle" class="max-sm:w-8">
    </button>
    <nav class="flex gap-x-4 items-center">
        <Link newTab href="https://www.linkedin.com/in/reinaldo-henrique-897114286/">LinkedIn</Link>
        <Link newTab href="https://www.github.com/reinaldorm">Github</Link>
    </nav>
</header>
